.con{
    width: 100%;
    height: 100vh;

}
.header{
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.body{
        background-color: rgb(0, 255, 30);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}